<div class="footer-container">

    <img src="../images/logo.png" alt="Erruki Logo" class="footer-logo" loading="lazy">
    <div class="footer-left">
        <h4>Erruki News</h4>
        <p>103, CMD Road, Magodo</p>
        <p>Ikeja, Lagos</p>
        <p><a href="mailto:info@erruki.org">info@erruki.org</a></p>
        <p>(234) 902-216-2214</p>
    </div>


    <div class="footer-center">
        <h4>Quick Links</h4>
        <ul class="footer-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
        </ul>
    </div>
    
  
    <div class="footer-right">
        <h4>Follow Us</h4>
        <div class="social-icons">
            <a href="#"><img src="../images/youtube.webp" alt="YouTube" class="social-icon"></a>
            <a href="#"><img src="../images/twitter.webp" alt="Twitter" class="social-icon"></a>
            <a href="#"><img src="../images/linkedin.webp" alt="LinkedIn" class="social-icon"></a>
        </div>
        <p>WDD330 Final Project</p>
        <p>Alexander Cyril</p>
        <p>© <span id="year"></span> Erruki News</p>
        <p>Last modified: <span id="lastModified"></span></p>
    </div>

   
    <div class="footer-extras">
 
        <div class="newsletter">
            <h4>Subscribe to Our Newsletter</h4>
            <form id="newsletter-form">
                <input type="email" id="email" placeholder="Enter your email" autocomplete="email" required>
                <button type="submit">Subscribe</button>
            </form>
            <p class="newsletter-message"></p>

          
            <div id="successModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="successMessage"></p>
                </div>
            </div>
        </div>
    </div>
</div>