
<nav class="custom-navbar">
  <div class="container">
      <section class="navbar-brand">
          <div class="logo-container"></div>
      </section>

      <div class="navbar-menu" id="navbarNav">
          <ul class="navbar-items">
              <li class="navbar-item">
                  <a class="navbar-link" href="index.html">Home</a>
              </li>
              <li class="navbar-item">
                  <a class="navbar-link" href="about.html">About</a>
              </li>
              <li class="navbar-item">
                  <a class="navbar-link" href="services.html">Services</a>
              </li>
              <!-- <li class="navbar-item">
                  <a class="navbar-link" href="favourites.html">Favourites</a>
              </li> -->
              
              <li class="navbar-item user-dropdown">
                  <a class="navbar-link user-link" href="#">
                      <img src="default-profile.png" alt="User Image" class="profile-menu-image" loading="lazy">
                      <span class="user-name">User</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-link">Profile</a></li>
                    <li><a href="#" class="dropdown-link">Update Profile</a></li>
                    <!-- <li><a href="#" class="dropdown-link">Delete Account</a></li> -->
                    <li><a href="#" class="dropdown-link logout-link">
                      <i class="fas fa-sign-out-alt"></i> Log Out
                    </a></li>
                  </ul>
              </li>
              <li class="navbar-item">
                  <a class="navbar-link sign-in-btn" href="#"></a>
              </li>
          </ul>
      </div>

      <div class="navbar-icons">
          <!-- <img src="images/theme.webp" alt="Theme Toggle" id="theme-toggle" class="nav-icon" width="40" height="40"> -->
          
          <!-- Hamburger Menu -->
          <button class="navbar-toggler" id="navbar-toggler" aria-label="Toggle navigation">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
          </button>
      </div>

  </div>
</nav>